.userbox{
    display: flex; 
    position: relative; 
    padding: 0.75rem; 
    align-items: center; 
    border-radius: 0.5rem; 
    width: 100%; 
    background-color: #ffffff; 
    
}

.userbox:hover{
    background-color: #F3F4F6;;
    cursor: pointer; 
}

.info{
    display: flex; 
    flex-direction: column; 
    margin-left: 0.75rem; 
}

.div:focus {
    outline: none;
}

.inside{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.text{
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500; 
    color: #111827;  
}