.Description {
    max-width: 50%;
    margin: 5% 7%;
  }

  .Description .info img{
    display: none;
  }
  
  .Description .info h2{
    color: #ffff;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .5vh;
    line-height: 9vh;
    margin-bottom: 4vh;
  }
  
  .Description .info h2 span{
    color: #006A80;
    font-size: 4vw;
    font-weight: 800;
  }
  
  .Description .info p{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 5vh;
  }
  
  .Description .infoBtn{
      width: 20%;
      padding: 2%;
      background: linear-gradient(to right, #006A80, #02A8CB);
      color: #fff;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 2vw;
      font-weight: bold; /* Added font-weight property */
      margin-top: 2%;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      transition-property: background;
  }
  
  .Description .infoBtn:hover{
    animation: changeColor 3s infinite;
  }

  @keyframes changeColor {
    0% {
      background-color: #EF476F; /* Primer color */
    }
    25% {
      background-color: #06D6A0; /* Segundo color */
    }
    50% {
      background-color: #1B9AAA; /* Tercer color */
    }
    75% {
      background-color: #FFC43D; /* Vuelve al primer color  */
    }
    100% {
      background-color: #EF476F; /* Primer color */
    }
  }

 
@media (max-width: 1024px) and (max-height: 1000px) {
    .Description{   
      max-width: 100%;
    }

    .Description .info{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .Description .info img{
      display: block;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 4vh;
    }
    
    .Description .info h2{
      letter-spacing: .3vh;
      line-height: 12vw;
      font-size: 10vw;
    }
    .Description .info h2 span{
      font-size: 10vw;
    }
    .Description .info p{
      font-size: 4vw;
      margin-bottom: 4vh;
    }
    .Description .infoBtn{
      font-size: 5vw;
      padding: 5% 5%;
      width: 80%;
      border-radius: 15px;
    }
  }