.container{
    display: none; 
    justify-content: space-between;
    border: 1px solid #E5E7EB;
}

.navigation{
    display: flex; 
    margin-top: 1rem; 
    flex-direction: column; 
    justify-content: space-between; 
}

.nav{
    display: flex; 
    margin-top: 1rem; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

.avatar{
    
    transition-duration: 300ms; 
    cursor: pointer; 
}

.list{
    display: flex; 
    margin-top: 0.25rem; 
    flex-direction: column; 
    align-items: center; 
}

.avatar:hover {
    opacity: 0.75; 
}

@media (min-width: 1024px) { 
    .container{
        display: flex; 
        overflow-y: auto; 
        position: fixed; 
        top: 0;
        bottom: 0; 
        left: 0; 
        z-index: 40; 
        padding-bottom: 1rem; 
        flex-direction: column; 
        width: 5rem; 
        background-color: #ffffff; 
    }
   }
  @media (min-width: 1280px) { 
    .container{
        padding-left: 1.5rem;
        padding-right: 1.5rem; 
    }
   }