.div{
    height: 100vh; 
    background-color: #1f2836;
}
.main{
    height: 100vh;
}

@media (min-width: 1024px) { 
    .main{
        padding-left: 5rem; 
    }
}

.bgPrattle {
    background-color: #1f2836;
  }
  .bgPrattleclear {
    background-color: #29313d;
  }
.bluePrattle{
    color: #00C1E9;
    background-color: #00C1E9;
    
}