.logInForm .formGroup {
    margin-bottom: 4%;
  }
  
  .logInForm label {
    display: block;
    color: #00C1E9;
    font-weight: 700;
    margin-bottom: 1.5%;
  }
  
  .logInForm input {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: 600;
    border: 1px solid #bababa;
    background: #D9D9D9;
    transition: all 0.2s ease-in;
  }

  .logInForm  input:hover {
    background: #FFFFFF;
  }
  .logInForm input:focus {
    background: #FFFFFF;
    outline: none;
  }
  
  .logInForm button {
    width: 100%;
    padding: 1%;
    background: linear-gradient(to right, #006A80, #02A8CB);
    color: #fff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 2vw;
    font-weight: bold; /* Added font-weight property */
    margin-top: 2%;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .logInForm button:hover {
    background-color:  #02A8CB;
  }

  .inputIconContainer {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .inputIcon {
    position: absolute;
    left: 2.5%;
    top: 22%;
    width: 6%;
    height: 55%;
  }

  .inputIconContainer input {
    padding-left: 10%; /* Ajusta esto para mover el texto dentro del input */
  }

  @media (max-width: 1190px) and (max-height: 1000px) {
  
    .logInForm input {
      font-size: 5vw;
      padding: 2%;
    }

    .inputIconContainer input {
      padding-left: 14%; /* Ajusta esto para mover el texto dentro del input */
    }

    .inputIcon {
      width: 8%;
    }

    .logInForm label {
      font-size: 5vw;
    }

    .logInForm button {
      margin-top: 10%;
      padding: 2%;
      font-size: 7vw;
    }
  }
  