.logInForm .formGroup {
    margin-bottom: 15px;
  }
  
  .logInForm label {
    display: block;
    color: #00C1E9;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .logInForm input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #DBDBDB;
  }
  
  .logInForm button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #006A80, #02A8CB);
    color: #fff;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 23px;
    font-weight: bold; /* Added font-weight property */
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .logInForm button:hover {
    background-color:  #02A8CB;
  }