.logInForm .formGroup {
    margin-bottom: 15px;
  }
  
  .logInForm label {
    display: block;
    color: #00C1E9;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .logInForm input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #bababa;
    background: #D9D9D9;
    transition: all 0.2s ease-in;
  }

  .logInForm  input:hover {
    background: #FFFFFF;
  }
  .logInForm input:focus {
    background: #FFFFFF;
    outline: none;
  }
  
  .logInForm button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #006A80, #02A8CB);
    color: #fff;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 23px;
    font-weight: bold; /* Added font-weight property */
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .logInForm button:hover {
    background-color:  #02A8CB;
  }

  .inputIconContainer {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px; /* Ajusta esto para mover el icono a la izquierda o a la derecha dentro del input */
    top: 22%;
    width: 5%;
    height: 55%;
  }

  .inputIconContainer input {
    padding-left: 9%; /* Ajusta esto para mover el texto dentro del input */
  }