.signUpForm .formGroup {
    margin-bottom: 10px;
  }
  
  .signUpForm label {
    display: block;
    color: #00C1E9;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .signUpForm input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #bababa;
    background: #D9D9D9;
    transition: all 0.2s ease-in;
  }

  .signUpForm input:hover {
    background: #FFFFFF;
  }
  .signUpForm input:focus {
    background: #FFFFFF;
    outline: none;
  }
  
  .signUpForm button {
    width: 48%;
    height: 60px;
    padding: 8px;
    background: linear-gradient(to right, #006A80, #02A8CB);
    color: #fff;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 23px;
    font-weight: bold; /* Added font-weight property */
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }

  .signUpForm button:hover {
    background-color: #00C1E9;
  }

  
  .passwordContainer {
    display: flex;
    justify-content: space-between;
  }

  .formGroupPassword {
    width: 48%; /* Ajusta esto a lo que necesites */
  }

  .dateButtonContainer {
    display: flex;
    justify-content: space-between;
  }

