
.navBG{
  background: #1c202b98;
}
.navminiBG{
  background: #1c202bf6;
}
.bgPrattleclear {
  background-color: #29313df8;
}

  .logo{
    height: 16vh; 
  }
  
    .registrate {
      color: #1f667c;  
      background: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 17px;
      padding: 15px 20px;
      border-radius: 20px;
      /*Centrar el contenido del botón*/
      display: flex;
      justify-content: center;
      align-items: center;
      } 
      .registrate:hover {
      animation: changeColor 3s infinite; /* Llama a la animación con una duración de 3 segundos */
      cursor: pointer;
    }
    
    @keyframes changeColor {
      0% {
        background-color: #EF476F; /* Primer color */
      }
      25% {
        background-color: #06D6A0; /* Segundo color */
      }
      50% {
        background-color: #1B9AAA; /* Tercer color */
      }
      75% {
        background-color: #FFC43D; /* Vuelve al primer color  */
      }
      100% {
        background-color: #EF476F; /* Primer color */
      }
    }
    
    @media (max-width: 1024px){
      .registrate{
        padding: 4px 1px 4px 1px;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .logo{
        height: 6rem; 
      }
    }

 

    
