.Home{
    background-color: #191E26;
    min-height: 100vh;
    background-size: cover;
    display: flex;
}
    
.Inicio {
    background-image: url("/img/background_index.jpg");
    position: relative; /* Asegura que el rectángulo se posicione en relación con este contenedor */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    }
      
/*  Rectangle {
    z-index: 1;
    width: 50px;  Ajusta según tus necesidades
    height: 300px;  Ajusta según tus necesidades 
    background-color: #ff0000; /* Ajusta según tus necesidades 
    position: absolute;
    transform: rotate(45deg);
    }*/

.Proyecto  {
    min-height: 80vh;
    background-size: cover;
}

.Caracteristicas  {
    min-height: 400vh;
    background-size: cover;
}

.Nosotros  {
    min-height: 80vh;
    background-size: cover;
}

.Footer {
    min-height: 80vh;
    background-size: cover;
}

@media (max-width: 1190px) and (max-height: 1000px) {
    .Inicio{
        justify-content: center;
        align-items: center;
        background-size: 100%; 
        min-height: 80vh;
        background-image: none;
    }
}