.ChatButton{
    text-decoration: none;
    background-color: #3678f4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}